
body{
	background:#fff;
}
.Logcontainer{
	width:100%;
	margin:0;
}
.logincontainer{
	width:365px;
	margin:auto;
	/* background:#003470; */
	border:solid 1px #305573;
	border-radius:10px;
	text-align:center;
	margin-top:7rem;
}
.top{
	background: #305573;
    border-radius: 7px 7px 0px 0px;
    padding: 10px;
}
.bottom{
	background: #305573;
    border-radius: 0px 0px 7px 7px;
    padding: 10px;
	margin-top:30px;
}
.scpLogo{
	height:40px;
}
.logTable{
	width:80%;
	margin:auto;
	margin-top:20px;
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
}
.logTable td{
	font-family:verdana;
	font-size:17px;
	font-weight:bold;
	color: #305573;
}
.logTable input[type="text"],input[type="password"],input[type="email"]{
	font-family: verdana;
    font-size: 12px;
    width: 100%;
    height: 38px;
    border: solid 1px #c8c8c8;
    border-radius: 5px;
	padding: 5px;
    margin-top: 5px;
	color:#5f5c5c;
	background: linear-gradient(0deg, rgb(216, 216, 216) 30%, rgb(233, 233, 233) 70%);
}
.padTop{
	padding-top: 15px;
}
/* .buttonContainerLog{ */
	/* margin-top:25px; */
/* } */
.ButtonLog{
	padding: 8px 31px;
    font-family: verdana;
    font-size: 14px;
    background-color: #00bff3;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
	transition-timing-function: ease;
	transition: 1s;
	border:1px solid #00bff3;
}
.ButtonLog:disabled{
	opacity:.7;
	cursor:not-allowed!important;
}
.ButtonLog:hover
{
	cursor:pointer;
	/* border-radius:8px; */
	transition-timing-function: ease;
	transition: 1s;
	color:#003470;
	border:1px solid #fff;
}
.forgot{
	text-align: right;
    font-size: 12px !important;
    font-style: italic;
}
.forgota{
	color:#000;
	text-decoration:none;
}
.logTable .warning-note
{
	font-size:12px;
	color:red;
	text-align:center;
	display:none;
}
.hidden
{
	display:none;
}